USE [master]
GO
/****** Object:  Database [HelpDesk]    Script Date: 05/06/2020 22:31:13 ******/
CREATE DATABASE [HelpDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelpDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HelpDesk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HelpDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HelpDesk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelpDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelpDesk]
GO
/****** Object:  Table [dbo].[Acoes]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Texto] [nvarchar](50) NULL,
	[Caminho] [nvarchar](100) NULL,
	[Nome] [nvarchar](100) NULL,
	[Formato] [nvarchar](15) NULL,
	[Tipo] [nvarchar](2) NULL,
	[Ativo] [nvarchar](2) NULL,
 CONSTRAINT [PK_Acoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipe]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Equipe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTicket]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTicket](
	[idAcao] [int] NOT NULL,
	[idTicket] [int] NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_ItemTicket] PRIMARY KEY CLUSTERED 
(
	[idAcao] ASC,
	[idTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [nvarchar](15) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Telefone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Endereco] [nvarchar](50) NOT NULL,
	[Tipo] [nvarchar](2) NOT NULL,
	[Senha] [nvarchar](15) NOT NULL,
	[CodigoEquipe] [int] NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Servico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Assunto] [nvarchar](100) NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFinal] [datetime] NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[CodigoPessoa] [int] NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoServico] [int] NOT NULL,
	[CodigoUrgencia] [int] NOT NULL,
	[CodigoStatus] [int] NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urgencia]    Script Date: 05/06/2020 22:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urgencia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Ativo] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Urgencia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Acoes]  WITH CHECK ADD  CONSTRAINT [FK_Acoes_Pessoa] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Acoes] CHECK CONSTRAINT [FK_Acoes_Pessoa]
GO
ALTER TABLE [dbo].[ItemTicket]  WITH CHECK ADD  CONSTRAINT [FK_ItemTicket_Acoes] FOREIGN KEY([idAcao])
REFERENCES [dbo].[Acoes] ([Id])
GO
ALTER TABLE [dbo].[ItemTicket] CHECK CONSTRAINT [FK_ItemTicket_Acoes]
GO
ALTER TABLE [dbo].[ItemTicket]  WITH CHECK ADD  CONSTRAINT [FK_ItemTicket_Ticket] FOREIGN KEY([idTicket])
REFERENCES [dbo].[Ticket] ([Id])
GO
ALTER TABLE [dbo].[ItemTicket] CHECK CONSTRAINT [FK_ItemTicket_Ticket]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_Equipe] FOREIGN KEY([CodigoEquipe])
REFERENCES [dbo].[Equipe] ([Id])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_Equipe]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Pessoa] FOREIGN KEY([CodigoPessoa])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Pessoa]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Pessoa1] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Pessoa1]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Servico] FOREIGN KEY([CodigoServico])
REFERENCES [dbo].[Servico] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Servico]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Status] FOREIGN KEY([CodigoStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Status]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Urgencia] FOREIGN KEY([CodigoUrgencia])
REFERENCES [dbo].[Urgencia] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Urgencia]
GO
USE [master]
GO
